body {
  margin: 0;
  padding: 0;
  background: url(background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
    position: relative;
    width : 500px;
    height: 500px;
    border-radius: 10px;
    background: rgba(84, 77, 74, 0.67);
  }
  
.ball {
    position: absolute;
    top   : 410px;
    left  : 220px;
    width : 30px;
    height: 30px;
    background: radial-gradient(circle at 30px 30px, blue, black);
    border-radius: 100%; 
    visibility: hidden;
  }

  .hole.checkpoint {
    top   : 10px;
    left  : 220px;
    background: white;
    visibility: hidden;
  }
  .hole{
    position: absolute;
    background: rgba(0, 0, 0, 0.92);
    box-shadow: 0 0 20px black;
    border-radius: 100%;
    visibility: hidden;
    width : 52px;
    height: 52px;
  }

  .hole1 {
    top   : 100px;
    left  : 220px;
  }

  .hole2 {
    top   : 200px;
    left  : 280px;
  }

  .hole3 {
    top   : 270px;
    left  : 150px;
  }

  .info {
    position: absolute;
    font-size: 45px;
    padding: 20px;
    top: 20%;
    left: 25%;
    border-radius: 20px;
    visibility: hidden;
    background: rgba(237, 243, 238, 0.506);
  }

  .start {
    position: absolute;
    top   : 30px;
    left  : 580px;
    width: 180px;
    height: 60px;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(173, 236, 164);
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 20px;
    border: 0px;
    padding: 5px 20px;
    transition: 1s;
  }

  .start:hover {
    color: rgba(0, 0, 0, 0.658);
    background-color: rgb(173, 236, 164);
  }

  .start:focus {
    outline: 0px;
  }

  .reset {
    position: absolute;
    top   : 90px;
    left  : 580px;
    padding: 5px 20px;
    border-style: none;
    background-color: rgba(237, 243, 238, 0.506);
    border-radius: 20px;
    box-shadow: 0 0 0 1px black, 0 0 0 6px rgba(237, 243, 238, 0.506);
    font-size: 20px;
    font-family: arial;
    text-transform: uppercase;
    transition: 0.3s;
    cursor: pointer;
  }

  .reset:hover {
    box-shadow: 0 0 0 3px black, 0 0 0 8px white;
    border-radius: 40px;
  }
