body {
  margin: 0;
  padding: 0;
  background: url(background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
}
.container {
    position: relative;
    width : 500px;
    height: 500px;
    border-radius: 10px;
    background: rgba(84, 77, 74, 0.67);
    margin: auto;
  }
  
.ball {
    position: absolute;
    top   : 410px;
    left  : 220px;
    width : 30px;
    height: 30px;
    background: radial-gradient(circle at 30px 30px, blue, black);
    border-radius: 100%; 
    visibility: hidden;
  }

  .checkpoint {
    top   : 10px;
    left  : 220px;
    background: white;
    visibility: hidden;
    position: absolute;
    box-shadow: 0 0 20px black;
    border-radius: 100%;
    visibility: hidden;
    width : 52px;
    height: 52px;
  }
  .hole{
    position: absolute;
    background: rgba(0, 0, 0, 0.92);
    box-shadow: 0 0 20px black;
    border-radius: 100%;
    visibility: hidden;
    width : 52px;
    height: 52px;
  }

  .hole1 {
    top   : 140px;
    left  : 200px;
  }

  .hole2 {
    top   : 300px;
    left  : 180px;
  }

  .hole3 {
    top   : 370px;
    left  : 250px;
  }
  .hole4 {
    top   : 80px;
    left  : 150px;
  }
  
  .hole5 {
    top   : 270px;
    left  : 250px;
  }


  .info {
    position: absolute;
    font-size: 45px;
    padding: 20px;
    top: 20%;
    left: 25%;
    border-radius: 20px;
    visibility: hidden;
    background: rgba(237, 243, 238, 0.506);
  }

  .start {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 10px;
    width: 120px;
    height: 50px;
    background: grey;
    color:white;
    font-size:20px;
    text-transform: uppercase;
    transition: 0.3s;
    border: 2px solid grey;
    border-radius: 10px;
    cursor:pointer;
  }

  .start:hover {
    background: black;
  }

  .start:focus {
    outline: 0px;
  }