html, * {
  box-sizing: border-box;
}

body {
  color: black;
  margin: 0;
  padding: 0 32px 24px;
  background: white;
}

textarea {
  display: block;
  border-radius: 4px;
  width:100%;
}

textarea,
form select {
  background: #fff;
  border: 1px solid black;

}

form select, 
form button {
  display: inline-block;
  margin: 20px 10px 0 0;
}
h1{
  text-align: center;
}
.d-flex{
  display: flex;
  justify-content: center;
}
#formAddButton {
  background-color: grey;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid grey;
  text-transform: uppercase;
  transition: all .2s ease-in-out;
}

#formAddButton:hover {
  cursor: pointer;
  color:black;
  background-color: white;
}


/* Note Styles */
#notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
}

.note {
  min-height: 100px;
  font-size: 14px;
  background: #fff;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 9px 12px rgba(0,0,0, 0.1);
  position: relative;
  flex-basis: 30%;
}

.note-text {
  height: 100%;
  overflow-y: auto;
  padding: 20px;
}

.note::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 8px;
  border-radius: 0 0 4px 4px;
}

.note.red {
  border:5px solid lightcoral;
}

.note.blue {
  border:5px solid lightskyblue;
}
.note.green {
  border:5px solid lightgreen;
}
.note.yellow {
  border:5px solid gold;
}

.note span {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  right: 2px;
  border-radius: 4px;
  color: #999;
  text-align: center;
}

.note span:hover {
  color: #333;
  background: #f5f5f5;
  cursor: pointer;
}